<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <target name="console" xsi:type="Console" layout="${longdate} | ${uppercase:${level}} | ${logger} | ${threadid} | ${message}"/>

    <target name="file" xsi:type="File"
        layout="${longdate} | ${machinename} | ${uppercase:${level}} | ${logger} | ${threadid} | ${message}"
        fileName="${basedir}/logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}.${environment:IP}.log" />

    <target name="gamefile" xsi:type="File"
        layout="${message}"
        fileName="${basedir}/gamelogs/${shortdate}.log" />
  </targets>

  <rules>
    <logger name="GameLogger" minlevel="Trace" writeTo="gamefile"/>
    <logger name="GameLogger" minlevel="Trace" final="true" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>
